.flag {
  width: 600px;
  height: 400px;
border: 1px black solid;
}

.circle {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background: red;
 position: relative;
 margin: auto;
 top: 75px;
}